# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd
%reload_ext autoreload
%autoreload 2
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

In [2]:
# Your code here
my_df = pd.read_csv(url)
my_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
my_df.columns = [col.replace(" ", "_").lower() for col in my_df.columns]

my_df.rename({"st": "state"}, axis = 1, inplace=True)

my_df.head()

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
# Your code here
my_df["gender"].value_counts()

In [ ]:
#Gender column contains various inconsistent values such as 
#"F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".

my_df["gender"] = my_df["gender"].replace({"Male": "M", "Female": "F", "female": "F", "Femal": "F"})
#use map()
#my_df["gender"] = my_df.apply(standard_gender)
my_df.head()

In [ ]:
my_df["gender"].value_counts()

In [ ]:
my_df["state"].value_counts()

In [ ]:
#State abbreviations be can replaced with its full name, for example 
#"AZ": "Arizona", "Cali": "California", "WA": "Washington"

my_df["state"] = my_df["state"].replace({"AZ": "Arizona", "Cali": "California", "WA": "Washington"})

In [ ]:
my_df["state"].value_counts()

In [ ]:
my_df["education"].value_counts()

In [ ]:
#In education, "Bachelors" could be replaced by "Bachelor"

my_df["education"] = my_df["education"].replace({"Bachelors": "Bachelor"})

In [ ]:
my_df["education"].value_counts()

In [ ]:
my_df["customer_lifetime_value"].dtypes

In [ ]:
my_df["customer_lifetime_value"].value_counts()

In [ ]:
my_df["customer_lifetime_value"].value_counts()

In [ ]:
#In Customer Lifetime Value, delete the % character
my_df["customer_lifetime_value"] = my_df["customer_lifetime_value"].str.rstrip("%")

In [ ]:
my_df["customer_lifetime_value"].dtypes

In [ ]:
my_df["customer_lifetime_value"].value_counts()

In [ ]:
my_df["vehicle_class"].value_counts()

In [ ]:
#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [ ]:
my_df["vehicle_class"] = my_df["vehicle_class"].replace({"Sports Car": "Luxury", "Luxury SUV": "Luxury", 
                                                         "Luxury Car": "Luxury"})

In [ ]:
my_df["vehicle_class"].value_counts()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Your code here
my_df.dtypes

In [ ]:
#Customer lifetime value should be numeric

my_df["customer_lifetime_value"] = pd.to_numeric(my_df["customer_lifetime_value"])
my_df.dtypes

In [ ]:
#Number of open complaints has an incorrect format. 
#Look at the different values it takes with unique() and take the middle value. 
#As an example, 1/5/00 should be 5. 
#Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. 
#Finally, since it should be numeric, cast the column to be in its proper type.

In [ ]:
display(my_df["number_of_open_complaints"])

In [ ]:
my_df["number_of_open_complaints"].unique()

In [ ]:
my_df["number_of_open_complaints"] = my_df["number_of_open_complaints"].str.split("/").str.get(1)

In [ ]:
my_df["number_of_open_complaints"].unique()

In [ ]:
my_df["number_of_open_complaints"] = pd.to_numeric(my_df["number_of_open_complaints"])

In [ ]:
my_df["number_of_open_complaints"].dtypes

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here
#Identify any columns with null or missing values. Identify how many null values each column has. 
#You can use the isnull() function in pandas to find columns with null values.
my_df.isna().any()

In [ ]:
my_df.isna().sum()

In [ ]:
my_df.shape

In [ ]:
#Decide on a strategy for handling the null values. There are several options, including:
#Fill the null values with a specific value (such as the column mean or median for numerical variables, 
#and mode for categorical variables)
#Fill the null values with the previous or next value in the column
#Fill the null values with the previous or next value in the column

In [ ]:
#customer--> it's categorical. it doesn't make sense for it to be mode, it's categorical. either drop it or ffill   

my_df["customer"] = my_df["customer"].ffill()

In [ ]:
my_df["customer"].isna().sum()

In [ ]:
#state--> mode (most frequent value) because it's categorical  
state_mode = my_df["state"].mode()[0]
my_df["state"]=my_df["state"].fillna(state_mode)

In [ ]:
my_df["state"].isna().sum()

In [ ]:
#gender-->mode because it's categorical. 
gender_mode = my_df["gender"].mode()[0]
my_df["gender"].fillna(gender_mode, inplace=True)

In [ ]:
my_df["gender"].isna().sum()

In [ ]:
#education-->mode because it's categorical.
education_mode = my_df["education"].mode()[0]
my_df["education"].fillna(education_mode, inplace=True)

In [ ]:
my_df["education"].isna().sum()

In [ ]:
#customer_lifetime_value-->mean it's numerical.
customer_mean = my_df["customer_lifetime_value"].mean()
my_df["customer_lifetime_value"].fillna(customer_mean, inplace=True)

In [ ]:
my_df["customer_lifetime_value"].isna().sum()

In [ ]:
#income-->mean, it's numerical.  
income_mean = my_df["income"].mean()
my_df["income"].fillna(income_mean, inplace=True)

In [ ]:
my_df["income"].isna().sum()

In [ ]:
#monthly_premium_auto-->mean it's numerical.  
premium_mean = my_df["monthly_premium_auto"].mean()
my_df["monthly_premium_auto"].fillna(premium_mean, inplace=True)

In [ ]:
my_df["monthly_premium_auto"].isna().sum()

In [ ]:
#number_of_open_complaints-->mean, it's numerical. 
complaints_mean = my_df["number_of_open_complaints"].mean()
my_df["number_of_open_complaints"].fillna(complaints_mean, inplace=True)

In [ ]:
my_df["number_of_open_complaints"].isna().sum()

In [ ]:
#policy_type-->mode it's categorical.
policy_mode = my_df["policy_type"].mode()[0]
my_df["policy_type"].fillna(policy_mode, inplace=True)

In [ ]:
my_df["education"].isna().sum()

In [ ]:
#vehicle_class-->mode it's categorical.             
vehicle_mode = my_df["vehicle_class"].mode()[0]
my_df["vehicle_class"].fillna(policy_mode, inplace=True)

In [ ]:
my_df["vehicle_class"].isna().sum()

In [ ]:
#total_claim_amount-->mean, it's numerical

In [ ]:
claim_mean = my_df["total_claim_amount"].mean()
my_df["total_claim_amount"].fillna(claim_mean, inplace=True)

In [ ]:
my_df["total_claim_amount"].isna().sum()

In [ ]:
#Implement your chosen strategy to handle the null values. 
#You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

In [ ]:
#Verify that your strategy has successfully handled the null values. 
#You can use the isnull() function again to check if there are still null values in the dataset.
my_df.isna().sum()

In [ ]:
#After formatting data types, as a last step, convert all the numeric variables to integers.
my_df.dtypes

In [ ]:
my_df["customer_lifetime_value"] = my_df["customer_lifetime_value"].astype(int)

In [ ]:
my_df["income"] = my_df["income"].astype(int)

In [ ]:
my_df["monthly_premium_auto"] = my_df["monthly_premium_auto"].astype(int)

In [ ]:
my_df["number_of_open_complaints"] = my_df["number_of_open_complaints"].astype(int)

In [ ]:
my_df["total_claim_amount"] = my_df["total_claim_amount"].astype(int)

In [ ]:
my_df.dtypes

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Your code here
my_df.duplicated("customer").sum()

In [ ]:
#I dropped all duplicated rows containing the same customer, keeping only the first appearence.
my_df.drop_duplicates(subset = ["customer"], inplace=True)
my_df.reset_index(drop=True)
my_df.duplicated().sum()

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [3]:
# Your code here
import cleaning_functions as cf
cf.clean_column_names(my_df)
cf.clean_na(my_df)
cf.formating_dtypes(my_df)
cf.dealing_na(my_df)
cf.dealing_duplicates(my_df)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955,38644,78,1,Personal Auto,Four-Door Car,361
1067,VJ51327,California,F,High School or Below,2031499,63209,102,2,Personal Auto,SUV,207
1068,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,633
1069,CW49887,California,F,Master,462680,79487,114,0,Special Auto,SUV,547
1070,MY31220,California,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,537

In [4]:
my_df.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

In [5]:
my_df.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [6]:
my_df.duplicated().sum()

0

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [16]:
# Your code here
my_df[["total_claim_amount", "customer_lifetime_value"]].describe()

       customer_lifetime_value
count             1.071000e+03
mean              7.936898e+05
std               6.425757e+05
min               2.004350e+05
25%               4.048530e+05
50%               5.887180e+05
75%               8.945205e+05
max               5.816655e+06

In [22]:
top_claims = my_df.loc[my_df["total_claim_amount"] > my_df["total_claim_amount"].quantile(0.75)]

In [28]:
low_clv = my_df.loc[my_df["customer_lifetime_value"] < my_df["customer_lifetime_value"].quantile(0.25)]

In [36]:
top_claims.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,2.640000e+02,264.000000,264.000000,264.000000,264.000000
mean,9.086863e+05,23677.344697,165.193182,0.416667,781.784091
std,6.387678e+05,27013.483721,623.930992,0.943593,292.737757
min,2.287590e+05,0.000000,63.000000,0.000000,537.000000
25%,4.723950e+05,0.000000,99.000000,0.000000,606.250000
50%,7.781765e+05,18807.000000,114.000000,0.000000,679.000000
75%,1.054430e+06,42423.750000,133.250000,0.000000,850.750000
max,3.844585e+06,99316.000000,10202.000000,5.000000,2893.000000

In [37]:
low_clv.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,268.000000,268.000000,268.000000,268.000000,268.000000
mean,292291.048507,37577.026119,124.003731,0.410448,332.003731
std,52855.605546,30045.742646,550.956761,0.976984,227.170175
min,200435.000000,0.000000,61.000000,0.000000,1.000000
25%,252672.500000,7734.000000,65.000000,0.000000,141.000000
50%,274481.500000,34304.500000,71.000000,0.000000,321.000000
75%,331176.500000,61407.500000,88.000000,0.000000,468.000000
max,403750.000000,98473.000000,6464.000000,5.000000,1185.000000